# dependencies
dist
/dist
node_modules
/node_modules
uploads/*.jpg

/.pnp
.pnp.js

# testing
/coverage

# production
/build
*.pdf
frontEnd/src/*.pdf
*.mp4
frontEnd/src/assets/*.mp4

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontEnd/src/.pdf
frontEnd/node_modules/**
frontEnd/src/assets/images/**
frontEnd/src/assets/fonts/**

frontEnd/build/**
package-lock.json
yarn-lock.json
frontEnd/package-lock.json
frontEnd/yarn-lock.json
frontEnd/main.js